html, body {
    height: 100%;
}

*{margin:0;padding:0}

li{list-style:none}

img{vertical-align:top;border:none}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.first-router {
    flex: 1;
}

.copy-right {
    padding: 20px 0;
    color: #999999;
    font-size: 12px;
    text-align: center;
}

.image404 {
    height: 220px;
    margin-top: 5%;
    background: url("../images/404.png") no-repeat center;
}

 .header-container {
    width: 100%;
    background-color: #808080;
    background-image: url('../images/home-bg.jpg');
    background-position: center center;
    background-size: cover;
    color: #fff;
    font-size: 24px;
    .header-title {
      height: 200px;
      text-align: center;
      line-height: 200px;
      color: #fff;
      font-size: 80px;
    }
    .header-sub-title {
      padding-bottom: 50px;
      text-align: center;
    }
  }

  .nav-banner {
    position: relative;
    padding: 0 100px;
    height: 60px;
    background-color: #ffffff;
    nav {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      a {
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 10px;
        padding-right: 10px;
        line-height: 57px;
        font-size: 18px;
        color: #000000;
        border-bottom: solid 3px transparent;
        &.router-link-active {
          border-bottom-color: #39C240;
        }
      }
      .login-banner {
        position: absolute;
        right: 80px;
        font-size: 14px;
        color: #4A4A4A;
        line-height: 30px;
        text-align: right;
        padding: 0;
        a {
          color: #4A4A4A;
          font-size: 14px;
          margin-left: 2px;
          margin-right: 10px;
          padding: 0 10px;
          cursor: pointer;
        }
      }
    }
  }